[binaries]
c = 'arm-none-eabi-gcc'
cpp = 'arm-none-eabi-g++'
ld = 'arm-none-eabi-gcc'
ar = 'arm-none-eabi-ar'
as = 'arm-none-eabi-as'

[host_machine]
system = 'bare'
cpu_family = 'armv7m'
cpu = 'cortex-m4'
endian = 'little'

[properties]
c_args = ['-c',
        '-Og',
        '-mcpu=cortex-m4',
        '-mthumb',
        '-pedantic',
        '-fstack-usage',
        '-ffunction-sections',
        '-fdata-sections']

c_link_args = ['-Wl,--gc-sections',
        '-Os',
        '-mcpu=cortex-m4',
        '--specs=nosys.specs',
        '-mthumb',
        '-Wl,-gc-sections']
